.normal {
  background-color: #9fa19f !important;
}
.fire {
  background-color: #e62829 !important;
}
.water {
  background-color: #2980ef !important;
}
.electric {
  background-color: #fac000 !important;
}
.grass {
  background-color: #3fa129 !important;
}
.ice {
  background-color: #3fd8ff !important;
}
.fighting {
  background-color: #ff8000 !important;
}
.poison {
  background-color: #9141cb !important;
}
.ground {
  background-color: #915121 !important;
}
.flying {
  background-color: #81b9ef !important;
}
.psychic {
  background-color: #ef4179 !important;
}
.bug {
  background-color: #91a119 !important;
}
.rock {
  background-color: #afa981 !important;
}
.ghost {
  background-color: #704170 !important;
}
.dragon {
  background-color: #5060e1 !important;
}
.dark {
  background-color: #50413f !important;
}
.steel {
  background-color: #60a1b8 !important;
}
.fairy {
  background-color: #ef70ef !important;
}