.bg-normal {
  background-color: #9fa19f !important;
}
.bg-fire {
  background-color: #e62829 !important;
}
.bg-water {
  background-color: #2980ef !important;
}
.bg-electric {
  background-color: #fac000 !important;
}
.bg-grass {
  background-color: #3fa129 !important;
}
.bg-ice {
  background-color: #3fd8ff !important;
}
.bg-fighting {
  background-color: #ff8000 !important;
}
.bg-poison {
  background-color: #9141cb !important;
}
.bg-ground {
  background-color: #915121 !important;
}
.bg-flying {
  background-color: #81b9ef !important;
}
.bg-psychic {
  background-color: #ef4179 !important;
}
.bg-bug {
  background-color: #91a119 !important;
}
.bg-rock {
  background-color: #afa981 !important;
}
.bg-ghost {
  background-color: #704170 !important;
}
.bg-dragon {
  background-color: #5060e1 !important;
}
.bg-dark {
  background-color: #50413f !important;
}
.bg-steel {
  background-color: #60a1b8 !important;
}
.bg-fairy {
  background-color: #ef70ef !important;
}
